<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<form th:method="GET" th:action="@{/edit/{id}(id=${task.getTaskId()})}" th:object="${task}">
   <label for="taskName">Enter name: </label>
    <input type="text" th:field="*{taskName}" id="taskName"/>
    <div style="color:red" th:if="${#fields.hasErrors('taskName')}" th:errors="*{taskName}" >Name error</div>

    <label for="description">Enter description: </label>
    <input type="text" th:field="*{description}" id="description"/>
    <div style="color:red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}" >Name error</div>

    <label for="price">Enter name: </label>
    <input type="text" th:field="*{price}" id="price"/>
    <div style="color:red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}" >Name error</div>
    <br/>
    <input type="submit" value="Update!"/>
</form>

</body>
</html>