<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Task List</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
<article class="article article_whitebg article_first">
    <h2 class="black">Это мой тестовый<br>проект!</h2>
    <p class="black">Выбери задачу из уже предложенных <strong>или</strong> добавь свою задачу!</p>
</article>
<a href="/showAll"> Show all tasks</a>
<br>
<a href="/new"> Create a new task</a>

</body>
</html>