<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
    <header>
        <div class="container">
            <div class="top-menu">
                <a class="logo" href="/"></a>
                <div class="menu-wrap">
                    <ul>
                        <li><a class="disabled" href="/login">Вход</a></li>
                    </ul>
                    <!-- ul>li*3>a[href="#"] -->
                    <ul>
                        <li ><a href="/new">Создать задание</a></li>
                        <li><a href="/showAll">Найти задание себе</a></li>
                        <li><a href="#">Найти исполнителя</a></li>
                    </ul>
                    <!-- .gamburger>div*3 -->
                    <div class="gamburger">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <!-- ul.mobile-menu>li*3>a[href=""] -->
                    <ul class="mobile-menu">
                        <li ><a href="/new">Создать задание</a></li>
                        <li><a href="/showAll">Найти задание себе</a></li>
                        <li><a href="">Найти исполнителя</a></li>
                        <li><a class= "disabled" href="/login">Вход</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <main>
        <h1>Вход</h1>
    <!--            <form action="#" th:method="POST" th:action="@{/}" th:object="${task}">
                    <div class="mb-3">
                        <label for="UrlAdress" class="form-label">Название вашей задачи</label>
                        <input type="text" class="form-control" id="UrlAdress" placeholder="Вывоз строительного мусора" aria-describedby="emailHelp" th:field="*{taskName}">
                        <p class="form-text" th:if="${#fields.hasErrors('taskName')}" th:errors="*{taskName}">taskName error</p>
                    </div>
                    <div class="mb-3">
                        <label for="UserName" class="form-label">Ваше имя</label>
                        <input type="text" class="form-control" id="UserName" th:field="*{personName}">
                        <p class="form-text" th:if="${#fields.hasErrors('personName')}" th:errors="*{personName}">UserName error</p>
                    </div>

                    <button type="submit" class="btn btn-primary">Создать</button>
                    <button type="reset" class="btn btn-primary">Reset</button>
                </form>-->
        <form method="POST" action="/login">
        <div>
            <input name="username" type="text" placeholder="Username"
                autofocus="true"/>
            <input name="password" type="password" placeholder="Password"/>
            <button type="submit">Log In</button>

            <h4><a href="/registration">Зарегистрироваться</a></h4>
        </div>
        </form>
        <br>
    </main>

    <footer>
        <div class="container">
            <div class="footer-wrap">
                <div class="footer-column">(c) CopyRight 2021
                </div>
                <div class="footer-column">
                    <ul>
                        <li ><a href="/new">Создать задание</a></li>
                        <li><a href="/showAll">Найти задание себе</a></li>
                        <li><a href="#">Найти исполнителя</a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <ul>
                        <li>email: <a href="mail:email@gmail.com">email@gmail.com</a></li>
                        <li>tel: <a href="tel:+79991799988">+79991799988</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script>
        let el_gamburger = document.querySelector(".gamburger");
    
        if (el_gamburger) {
            el_gamburger.addEventListener("click", () => {
            el_gamburger.classList.toggle("open");
            });
        }
        [].forEach.call(document.querySelectorAll('li.active a'), (el_a) =>{
    
        })
    </script>    
</body>
</html>