<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Новая задача</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
    <header>
        <div class="container">
            <div class="top-menu">
                <a class="logo" href="/"></a>
                <div class="menu-wrap">
                    <ul>
                        <li><a href="/login">Вход</a></li>
                    </ul>
                    <!-- ul>li*3>a[href="#"] -->
                    <ul>
                        <li><a class="disabled" href="/new">Создать задание</a></li>
                        <li><a href="/showAll">Найти задание себе</a></li>
                        <li><a href="#">Найти исполнителя</a></li>
                    </ul>
                    <!-- .gamburger>div*3 -->
                    <div class="gamburger">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <!-- ul.mobile-menu>li*3>a[href=""] -->
                    <ul class="mobile-menu">
                        <li><a class="disabled" href="/new">Создать задание</a></li>
                        <li><a href="/showAll">Найти задание себе</a></li>
                        <li><a href="">Найти исполнителя</a></li>
                        <li><a href="/login">Вход</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="container" style="margin-top: 20px; margin-left: 20px;">
        <div class="row">
            <div class="col-xs-6 col-md-6 col-lg-6">
                <h1> Создание новой задачи</h1>
                <p> Заполните все поля и нажмите кнопку "Создать"</p>
                <form action="#" th:method="POST" th:action="@{/}" th:object="${task}">
                    <div class="mb-3">
                        <label for="UrlAdress" class="form-label">Название вашей задачи</label>
                        <input type="text" class="form-control" id="UrlAdress" placeholder="Вывоз строительного мусора" aria-describedby="emailHelp" th:field="*{taskName}">
                        <p class="form-text" th:if="${#fields.hasErrors('taskName')}" th:errors="*{taskName}">taskName error</p>
                    </div>
                    <div class="mb-3">
                        <label for="UserName" class="form-label">Ваше имя</label>
                        <input type="text" class="form-control" id="UserName" th:field="*{personName}">
                        <p class="form-text" th:if="${#fields.hasErrors('personName')}" th:errors="*{personName}">UserName error</p>
                    </div>
                    <div class="mb-3">
                        <label for="UserName" class="form-label">Сфера работ</label>
                        <input type="text" class="form-control" id="UserName" th:field="*{sfera}">
                        <p class="form-text" th:if="${#fields.hasErrors('sfera')}" th:errors="*{sfera}" >sfera error</p>
                    </div>
                    <div class="mb-3">
                        <label for="UserName" class="form-label">Контактный номер телефона</label>
                        <input type="text" class="form-control" id="UserName" th:field="*{numberTelephone}">
                        <p class="form-text" th:if="${#fields.hasErrors('numberTelephone')}" th:errors="*{numberTelephone}" >Number error</p>
                    </div>
                    <div class="mb-3">
                        <label for="UserName" class="form-label">Описание</label>
                        <input type="text" class="form-control" id="UserName" th:field="*{description}">
                        <p class="form-text" th:if="${#fields.hasErrors('description')}" th:errors="*{description}" >description error</p>
                    </div>
                    <div class="mb-3">
                        <label for="UserName" class="form-label">Стоимость</label>
                        <input type="text" class="form-control" id="UserName" th:field="*{numberTelephone}">
                        <p class="form-text" th:if="${#fields.hasErrors('price')}" th:errors="*{price}" >price error</p>
                    </div>
                    <div class="mb-3">
                        <label for="UserName" class="form-label">Адрес</label>
                        <input type="text" class="form-control" id="UserName" th:field="*{adress}">
                        <p class="form-text" th:if="${#fields.hasErrors('adress')}" th:errors="*{adress}" >adress error</p>
                    </div>
                    <div class="mb-3">
                        <label for="UserName" class="form-label">Удобная дата</label>
                        <input type="text" class="form-control" id="UserName" th:field="*{convDate}">
                        <p class="form-text" th:if="${#fields.hasErrors('convDate')}" th:errors="*{convDate}" >convDate error</p>
                    </div>
                    <div class="mb-3">
                        <label for="UserName" class="form-label">Удобное время</label>
                        <input type="text" class="form-control" id="UserName" th:field="*{convTime}">
                        <p class="form-text" th:if="${#fields.hasErrors('convTime')}" th:errors="*{convTime}" >convTime error</p>
                    </div>
                    
                    
  <!--      <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div> -->
                    <button type="submit" class="btn btn-primary">Создать</button>
                    <button type="reset" class="btn btn-primary">Reset</button>
                </form>
            </div>
        </div>
        </div>
    </main>
    <br>
    <footer>
        <div class="container">
            <div class="footer-wrap">
                <div class="footer-column">(c) CopyRight 2021
                </div>
                <div class="footer-column">
                    <ul>
                        <li><a class="disabled" href="/new">Создать задание</a></li>
                        <li><a href="/showAll">Найти задание себе</a></li>
                        <li><a href="#">Найти исполнителя</a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <ul>
                        <li>email: <a href="mail:email@gmail.com">email@gmail.com</a></li>
                        <li>tel: <a href="tel:+79991799988">+79991799988</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
        <script>
            let el_gamburger = document.querySelector(".gamburger");
    
            if (el_gamburger) {
                el_gamburger.addEventListener("click", () => {
                    el_gamburger.classList.toggle("open");
                });
            }
            [].forEach.call(document.querySelectorAll('li.active a'), (el_a) =>{
    
            })
        </script>
</body>
</html>