<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>new task</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>

    <div class="container" style="margin-top: 20px; margin-left: 20px;">
        <div class="row">
            <div class="col-xs-6 col-md-6 col-lg-6">
                <h1> Создание новой задачи</h1>
                <p> Заполните все поля и нажмите кнопку "Создать"</p>
                <form action="#" th:method="POST" th:action="@{/}" th:object="${task}">
                    <div class="mb-3">
                        <label for="UrlAdress" class="form-label">Название вашей задачи</label>
                        <input type="text" class="form-control" id="UrlAdress" placeholder="Вывоз строительного мусора" aria-describedby="emailHelp" th:field="*{taskName}">
                        <p class="form-text" th:if="${#fields.hasErrors('taskName')}" th:errors="*{taskName}">taskName error</p>
                    </div>
                    <div class="mb-3">
                        <label for="UserName" class="form-label">Ваше имя</label>
                        <input type="text" class="form-control" id="UserName" th:field="*{personName}">
                        <p class="form-text" th:if="${#fields.hasErrors('personName')}" th:errors="*{personName}">UserName error</p>
                    </div>
                    <div class="mb-3">
                        <label for="UserName" class="form-label">Сфера работ</label>
                        <input type="text" class="form-control" id="UserName" th:field="*{sfera}">
                        <p class="form-text" th:if="${#fields.hasErrors('sfera')}" th:errors="*{sfera}" >sfera error</p>
                    </div>
                    <div class="mb-3">
                        <label for="UserName" class="form-label">Контактный номер телефона</label>
                        <input type="text" class="form-control" id="UserName" th:field="*{numberTelephone}">
                        <p class="form-text" th:if="${#fields.hasErrors('numberTelephone')}" th:errors="*{numberTelephone}" >Number error</p>
                    </div>
                    <div class="mb-3">
                        <label for="UserName" class="form-label">Описание</label>
                        <input type="text" class="form-control" id="UserName" th:field="*{description}">
                        <p class="form-text" th:if="${#fields.hasErrors('description')}" th:errors="*{description}" >description error</p>
                    </div>
                    <div class="mb-3">
                        <label for="UserName" class="form-label">Стоимость</label>
                        <input type="text" class="form-control" id="UserName" th:field="*{numberTelephone}">
                        <p class="form-text" th:if="${#fields.hasErrors('price')}" th:errors="*{price}" >price error</p>
                    </div>
                    <div class="mb-3">
                        <label for="UserName" class="form-label">Адрес</label>
                        <input type="text" class="form-control" id="UserName" th:field="*{adress}">
                        <p class="form-text" th:if="${#fields.hasErrors('adress')}" th:errors="*{adress}" >adress error</p>
                    </div>
                    <div class="mb-3">
                        <label for="UserName" class="form-label">Удобная дата</label>
                        <input type="text" class="form-control" id="UserName" th:field="*{convDate}">
                        <p class="form-text" th:if="${#fields.hasErrors('convDate')}" th:errors="*{convDate}" >convDate error</p>
                    </div>
                    <div class="mb-3">
                        <label for="UserName" class="form-label">Удобное время</label>
                        <input type="text" class="form-control" id="UserName" th:field="*{convTime}">
                        <p class="form-text" th:if="${#fields.hasErrors('convTime')}" th:errors="*{convTime}" >convTime error</p>
                    </div>
                    
                    
  <!--      <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div> -->
                    <button type="submit" class="btn btn-primary">Создать</button>
                    <button type="reset" class="btn btn-primary">Reset</button>
                </form>
            </div>
        </div>
    </div>
    <br>
</body>
</html>