<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ulsk Taskmanager</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
<header>

    <div class="container">
        <div class="top-menu">
            <a class="logo" href="/"></a>
            <div class="menu-wrap">
                <ul>
                    <li><a href="/login">Вход</a></li>
                </ul>
                <!-- ul>li*3>a[href="#"] -->
                <ul>
                    <li ><a href="/new">Создать задание</a></li>
                    <li><a href="/showAll">Найти задание себе</a></li>
                    <li><a href="#">Найти исполнителя</a></li>
                </ul>
                <!-- .gamburger>div*3 -->
                <div class="gamburger">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <!-- ul.mobile-menu>li*3>a[href=""] -->
                <ul class="mobile-menu">
                    <li ><a href="/new">Создать задание</a></li>
                    <li><a href="/showAll">Найти задание себе</a></li>
                    <li><a href="">Найти исполнителя</a></li>
                    <li><a href="/login">Вход</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
<main>
<form action="#" th:method="POST" th:action="@{/registration}" th:object="${userForm}">
    <div class="mb-3">
        <label for="Login" class="form-label">Login</label>
        <input type="text" class="form-control" id="Login" aria-describedby="emailHelp" th:field="*{username}">
        <p class="form-text" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">taskName error</p>
    </div>
    <div class="mb-3">
        <label for="phone" class="form-label">Телефон</label>
        <input type="text" class="form-control" id="phone" aria-describedby="emailHelp" th:field="*{numbTel}">
        <p class="form-text" th:if="${#fields.hasErrors('numbTel')}" th:errors="*{numbTel}">taskName error</p>
    </div>
    <div class="mb-3">
        <label for="Email" class="form-label">Email</label>
        <input type="text" class="form-control" id="Email" aria-describedby="emailHelp" th:field="*{email}">
        <p class="form-text" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">taskName error</p>
    </div>
    <div class="mb-3">
        <label for="pwd" class="form-label">Пароль</label>
        <input type="password" class="form-control" id="pwd" th:field="*{password}">
        <p class="form-text" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">UserName error</p>
    </div>
    <div class="mb-3">
        <label for="againpwd" class="form-label">Пароль еще раз</label>
        <input type="password" class="form-control" id="againpwd" th:field="*{passwordConfirm}">
        <p class="form-text" th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}">UserName error</p>
    </div>

    <button type="submit" class="btn btn-primary">Зарегестрироваться</button>
</form>
    <a href="/">Главная</a>
</div>
</main>
<footer>
    <div class="container">
        <div class="footer-wrap">
            <div class="footer-column">(c) CopyRight 2021
            </div>
            <div class="footer-column">
                <ul>
                    <li ><a href="/new">Создать задание</a></li>
                    <li><a href="/showAll">Найти задание себе</a></li>
                    <li><a href="#">Найти исполнителя</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <ul>
                    <li>email: <a href="mail:email@gmail.com">email@gmail.com</a></li>
                    <li>tel: <a href="tel:+79991799988">+79991799988</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<script>
    let el_gamburger = document.querySelector(".gamburger");

    if (el_gamburger) {
        el_gamburger.addEventListener("click", () => {
            el_gamburger.classList.toggle("open");
        });
    }
    [].forEach.call(document.querySelectorAll('li.active a'), (el_a) =>{

    })
</script>
</body>
</html>