<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show all tasks</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="top-menu">
                <a class="logo" href="/index.html"></a>
                <div class="menu-wrap">
                    <ul>
                        <li><a href="/login">Вход</a></li>
                    </ul>
                    <!-- ul>li*3>a[href="#"] -->
                    <ul>
                        <li ><a href="/new">Создать задание</a></li>
                        <li><a class="disabled" href="/showAll">Найти задание себе</a></li>
                        <li><a href="#">Найти исполнителя</a></li>
                    </ul>
                    <!-- .gamburger>div*3 -->
                    <div class="gamburger">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <!-- ul.mobile-menu>li*3>a[href=""] -->
                    <ul class="mobile-menu">
                        <li><a href="/new">Создать задание</a></li>
                        <li><a class="disabled" href="/showAll">Найти задание себе</a></li>
                        <li><a href="">Найти исполнителя</a></li>
                        <li><a href="/login">Вход</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <main>
    <h1>Просмотр актуальных задач</h1>
    <p> Нажмите на название задачи, чтобы посмотреть детали</p>
    <ul th:each="task : ${tasks}">
        <li> <a th:href="@{/tasks/{id}(id=${task.getTaskId()})}" th:text="${task.getTaskName()}">user</a></li>
    </ul>
    </main>
    <footer>
        <div class="container">
            <div class="footer-wrap">
                <div class="footer-column">(c) CopyRight 2021
                </div>
                <div class="footer-column">
                    <ul>
                        <li ><a href="/new">Создать задание</a></li>
                        <li><a class="disabled" href="/showAll">Найти задание себе</a></li>
                        <li><a href="#">Найти исполнителя</a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <ul>
                        <li>email: <a href="mail:email@gmail.com">email@gmail.com</a></li>
                        <li>tel: <a href="tel:+79991799988">+79991799988</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
        <script>
            let el_gamburger = document.querySelector(".gamburger");
    
            if (el_gamburger) {
                el_gamburger.addEventListener("click", () => {
                    el_gamburger.classList.toggle("open");
                });
            }
            [].forEach.call(document.querySelectorAll('li.active a'), (el_a) =>{
    
            })
        </script>

</body>
</html>