<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Просмотр задачи</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
	<header>
		<div class="container">
			<div class="top-menu">
				<a class="logo" href="/"></a>
				<div class="menu-wrap">
					<ul>
						<li><a href="/login">Вход</a></li>
					</ul>
					<!-- ul>li*3>a[href="#"] -->
					<ul>
						<li ><a href="/new">Создать задание</a></li>
						<li><a href="/showAll">Найти задание себе</a></li>
						<li><a href="#">Найти исполнителя</a></li>
					</ul>
					<!-- .gamburger>div*3 -->
					<div class="gamburger">
						<div></div>
						<div></div>
						<div></div>
					</div>
					<!-- ul.mobile-menu>li*3>a[href=""] -->
					<ul class="mobile-menu">
						<li ><a href="/new">Создать задание</a></li>
						<li><a href="/showAll">Найти задание себе</a></li>
						<li><a href="">Найти исполнителя</a></li>
						<li><a href="/login">Вход</a></li>
					</ul>
				</div>
			</div>
		</div>
	</header>
	<main>
		<div class="container" style="margin-top: 20px; margin-left: 20px;">
			<h1 th:text="${task.getTaskName()}"></h1>
		<ul>
			<li>Название </li>
			<li><p th:text="${task.getTaskName()}">VALUE</p></li>
		</ul>
		<ul>
			<li>Имя заказчика </li>
			<li><p th:text="${task.getPersonName()}">VALUE</p></li>
		</ul>
		<ul>
			<li>Контактный номер </li>
			<li><p th:text="${task.getNumberTelephone()}">VALUE</p></li>
		</ul>
		<ul>
			<li>Описание </li>
			<li><p th:text="${task.getDescription()}">VALUE</p></li>
		</ul>
		<ul>
			<li>Стоимость </li>
			<li><p th:text="${task.getPrice()}">VALUE</p></li>
		</ul>
		<ul>
			<li>Адрес </li>
			<li><p th:text="${task.getAdress()}">VALUE</p></li>
		</ul>
		<ul>
			<li>Удобная дата </li>
			<li><p th:text="${task.getConvDate()}">VALUE</p></li>
		</ul>
		<ul>
			<li>Удобное время </li>
			<li><p th:text="${task.getConvTime()}">VALUE</p></li>
		</ul>
			<br>
			<a th:href="@{/{id}/edit(id=${task.getTaskId()})}">Edit</a>
			<form th:method="GET" th:action="@{/delete/{id}(id=${task.getTaskId()})}">
				<input type="submit" value="Delete" />
			</form>
		</div>
</main>
	<footer>
		<div class="container">
			<div class="footer-wrap">
				<div class="footer-column">(c) CopyRight 2021
				</div>
				<div class="footer-column">
					<ul>
						<li ><a href="/new">Создать задание</a></li>
						<li><a href="/showAll">Найти задание себе</a></li>
						<li><a href="#">Найти исполнителя</a></li>
					</ul>
				</div>
				<div class="footer-column">
					<ul>
						<li>email: <a href="mail:email@gmail.com">email@gmail.com</a></li>
						<li>tel: <a href="tel:+79991799988">+79991799988</a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
    <script>
        let el_gamburger = document.querySelector(".gamburger");

        if (el_gamburger) {
            el_gamburger.addEventListener("click", () => {
                el_gamburger.classList.toggle("open");
            });
        }
        [].forEach.call(document.querySelectorAll('li.active a'), (el_a) =>{

        })
    </script>

</body>
</html>