<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show all tasks</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
    <h1>Просмотр актуальных задач</h1>
    <p> Нажмите на название задачи, чтобы посмотреть детали</p>
    <ul class="list-group" th:each="task : ${tasks}">
        <li class="list-group-item"> <a th:href="@{/tasks/{id}(id=${task.getTaskId()})}" th:text="${task.getTaskName()}">user</a></li>
    </ul>



</body>
</html>